<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/sso/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<p><a id="any-resource" href="http://localhost:9000/api/greeting"> Any authenticated user can access this resource</a></p>
<p><a id="customer-resource" href="http://localhost:9000/api/customer"> Any authenticated user with a role "ROLE_CUSTOMER" can access this resource</a></p>
<p><a id="merchant-resource" href="http://localhost:9000/api/merchant"> Any authenticated user with a role "ROLE_MERCHANT" can access this resource</a></p>

</body>
</html>